
<h1>Use this page to organize volunteers with their current projects.</h1>


<h2>List of current projects:</h2>
<%if @projects.any?%>
  <%@projects.each do |project|%>
    <a href="/projects/<%=project.id%>"><%=project.title%></p></a>
  <%end%>
<%end%>
